:root {
    --text-color: #ffa629; /* Default color */
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #050505;
    color: var(--text-color);
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center;
}


#countdownTitle {
    font-size: 4rem;
    color: var(--text-color);
    margin:0;
}

.countdown {
    margin: 20px 0;
}

.time-container {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.time-unit {
    margin: 0 15px;
    min-width: 180px;
}

.time-unit span {
    display: block;
    font-size: 4em;
    font-weight: bold;
}

.time-unit div {
    font-size: 0.5em;
}

@keyframes slide {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

.slide-up {
    animation: slide 0.4s ease-out;
}

.timezone-display {
    margin-top: 20px;
}

.timezone {
    display: inline-block;
    margin: 10px;
    min-width: 300px;
    padding: 10px;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 5px;
}
.timezone p {
    font-size: 2.5rem;
    font-weight:200px;
    margin:15px 0;
}

#copyTimestampButton, #copyShortUrlButton {
    background-color: var(--text-color);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Add margin to separate buttons */
}

#copyTimestampButton:hover, #copyShortUrlButton:hover {
    background-color: #45a049;
}

.target-time-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: row; /* Place items in a row */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.target-time-container div {
    margin-bottom: 10px; /* Space between items */
}

button.success {
    background-color: #4CAF50; /* Green background */
}

button.success::after {
    content: "✓"; /* Checkmark */
    color: white;
}
